.navbar{
  background-color: #0f4c75;
}
.navbar-brand{
  font-family: 'Merriweather';
  font-weight: bold;
}
.nav-item{
  font-family: 'Merriweather';
  margin:0 0.5rem 0;
}
body{
  margin:0;
  padding:0;
}
p{
  font-family: 'Montserrat Light';
  font-weight: 300;
}
.title{
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather';
  font-weight: bold;
}
.nsut{
  margin: 0;
  width: 100%;
  opacity: 0.75;
}
.title-box
{
  padding: 2rem;
  background-color: #0f4c75;
  color: white;
}
.carousel{
  text-align: center;
  background-color: #0f4c75;
  color: white;
  font-family: 'Montserrat';
  margin-bottom: 2rem;
}
.carousel-inner{
  padding: 0 6rem 0;
}
.d-block{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 1rem;
}
.bloghead{
  margin-left: 5rem;
  font-family: 'Archivo Black'

}
.cardlist{
  margin: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}
.card{
  margin: 1rem ;
}
.btn-primary{
  background-color: #0f4c75;

}
.btn-toolbar{
  margin-right: 6.7rem;
}
.pgnum{
  margin: 0.25rem;
}
.footer{
  background-color: #0f4c75;
  padding: 3rem 3rem 1rem;
  margin-top: 1rem;
  text-align: center;
  color: white;
  font-family: 'Montserrat Light';
}
.follow{
  color: white;
  margin: 0.2rem;
  font-size: 1.5rem;
}
